<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>	
  <!-- <script src="https://d3js.org/d3.v7.min.js"></script> -->
  <!-- <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script> -->
  <script src="https://d3js.org/d3.v4.min.js" type="text/javascript"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.min.js"></script>
  <script src="https://d3js.org/d3-selection-multi.v1.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js'></script>
	<link rel="stylesheet" href='../static/main.css'>
  <!-- <link rel="stylesheet" type="text/css" href="static/main.css"> -->
	
	<title>Main</title>
</head>
<body>

<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Top Navbar %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">CaJaDE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <button type="button" class="btn btn-primary btn-md dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  DB Info
                </button>
                <div class="dropdown-menu">
                   <form id="db-credentials" action="{{ url_for('db_connect')}}" method="post">
                       <label for="dbname">DB Name:</label>
                       <input type="text" id="dbname" name="dbname">
                       
                       <label for="dbpswd">DB Password:</label>
                       <input type="password" id="dbpswd" name="dbpswd">
                       
                       <label for="dbusr">DB User:</label>
                       <input type="text" id="dbusr" name="dbusr">
                       
                       <label for="dbport">DB Port:</label>
                       <input type="text" id="port" name="port" placeholder="5432", value="5432">

                       <label for="dbhost">DB Host:</label>
                       <input type="text" id="host" name="host" placeholder="127.0.0.1", value="127.0.0.1">

                       <button type="submit" class="btn btn-primary">Connect</button>
                       <button type="button" class="btn btn-secondary">Disconnect</button> 
                   </form>
                </div> 
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Params</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Schema Graph</a>
            </li>
          </ul>
        </div>
    </div>
</nav>

<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->

<div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        {% set active_table = active_table|default("adult") %}
        <ul class="nav flex-column mb-2">
            {% for i in db_tables %}
                <li class="nav-item">
                    <a {% if i|string == active_table|string %}class="active nav-link"
                                                   {% else %}class="nav-link"{% endif %}
                       href="{{ url_for('db_connect', active_table=i)|e }}">
                        <span data-feather="file-text"></span>{{ i }}{{ caption|e }}
                    </a>
                </li>

            {% endfor %}
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Table Schemas</span>
            <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
            </a>
        </h6>

        <ul class="nav flex-column mb-2 attr-list">
            {% if db_datatype is defined%}
              {% for attr in db_datatype[active_table] %}
                <li class="form-check nav-item">
                    <label class="form-check-label" for="{{ attr[0] }}">{{ attr[0] }}{{ caption|e }}</label>
                    <input class="form-check-input ml-2" type="checkbox" name="{{ attr[0] }}" value=""
                           id="checkbox-{{ attr[0] }}"
                           {% if attr[1] == 'character' %}checked{% endif %}>
<!--                 <svg width="10" height="10" class="float-right mr-2">
                    <rect x="0" y="0" width="10" height="10" fill="none" id="rec-score-rect-{{ attr[0] }}"/></svg> -->
                </li>
              {% endfor %}
            {% endif %}
        </ul>

      <!-- <h5>{{ db_connection_info }}</h5> -->
      </nav>

      <div class="col-md-7">
        <form id="query-form" method="POST" action="/run">
            <div class="col-auto" style="display: flex; flex-direction: column; justify-content: center;  ">
              <!--<div class="input-group"> -->
                <div class="input-group1">
                  <div class="input-group-text" style="float: left;">SELECT</div>
                  <input type="text" class="form-control" id="query-select" name="query-select" value = "count(*) as win, s.season_name" style="float: left; width: 27%;">
                  <div class="input-group-text" style="float: left;">,</div>
                  <input type="text" class="form-control" id="query-aggregate" placeholder="COUNT(*)" name="query-aggregate" style="float: left; width: 27%;">
                  <div class="input-group-text" style="float: left;">FROM</div>
                  <input type="text" class="form-control" id="query-from" name="query-from" value=" team t, game g, season s " style="float: left; width: 28%;">
                </div>
                <div class="input-group2">
                  <div class="input-group-text" style="float: left;">WHERE</div>
                  <input type="text" class="form-control" id="query-where" name="query-where" value=" t.team_id = g.winner_id and g.season_id = s.season_id and t.team= 'GSW' " style="float: left; width: 27%;">
                  <div class="input-group-text" style="float: left;">GROUP BY</div>
                  <input type="text" class="form-control" id="query-group" name="query-group" value="s.season_name" style="float: left; width: 27%;">
          
                  <div class="input-group-run" style="float: left;">  
                    <button type="button" class="btn btn-outline-primary" id="execute" style="width: 100%">Run</button>                   
                  </div>
                </div>
            <!--</div>-->
      	</form>


		<script>
      var colNum;
      var colData;

		  $('#execute').click(function(){
		    let dataList;
		    let totalNum;
		    //var colNum;
		    //let colData;
		    let tblData;
		    let dataPerPage;
		    let pageCount = 5;
		    let globalCurrentPage = 1;
		    var cnt;
		    var html;

        //let sltList = [];
		    
		    dataPerPage = $("#dataPerPage").val();
		  
		    var slt = $('#query-select').val();
		    var agg = $('#query-aggregate').val();
		    var frm = $('#query-from').val();
        var where = $('#query-where').val();
		    var grp = $('#query-group').val();
		    
		    var postdata = {
		      'slt':slt, 'agg':agg, 'frm':frm, 'where':where, 'grp':grp
		    }
		    $.ajax({
		      type: 'POST',
		      url: '{{url_for("ajax")}}',
		      data: JSON.stringify(postdata),
		      dataType: 'JSON',
		      contentType: "application/json",
		      success: function(data){	
		        totalNum = data.result2.length;
		        colNum = data.result2[0].length;
		        colData = data.result3;
		        tblData = data.result2;

            $("#sltROWScount").empty();
            $('#container').empty();
            selectedArr = [];
            tdArr = [];
            sltROWS = 0;

		        displayData(1, dataPerPage);
		        paging(totalNum, dataPerPage, pageCount, 1);
            //selectRows();
            /***
		        $("#dataPerPage").change(function () {
		          dataPerPage = $("#dataPerPage").val();
		          paging(totalNum, dataPerPage, pageCount, globalCurrentPage);
		          displayData(globalCurrentPage, dataPerPge);
		        });
            ***/

		      },
		      error: function(request, status, error){ 
		        alert('ajax failed')
		        alert(error);
		      }

		    })
		    
        $("#dataPerPage").change(function () {
		      dataPerPage = $("#dataPerPage").val();
          displayData(1, dataPerPage);
		      paging(totalNum, dataPerPage, pageCount, 1);

		      //paging(totalNum, dataPerPage, pageCount, globalCurrentPage);
		      //displayData(globalCurrentPage, dataPerPge);
		    });

		    function paging(totalNum, dataPerPage, pageCount, currentPage){
		      let totalPageNum = Math.ceil(totalNum/dataPerPage);
		      if(totalPageNum < pageCount){
		        pageCount = totalPageNum;
		      }
		      let pageGroup = Math.ceil(currentPage/pageCount);
		      let last = pageGroup*pageCount;
		      
		      if(last>totalPageNum){
		        last = totalPageNum;
		      }
		      let first = last - (pageCount -1);
		      let next = last + 1;
		      let prev = first - 1;
		      let pageHtml = "";
		      
		      pageHtml += "<nav aria-label=\"Page navigation example\"><ul class=\"pagination\">";

		      if(prev > 0){
            pageHtml += "<li><a class=\"page-link\" href='#' id='prev' aria-label=\"Previous\"><span aria-hidden=\"true\">&laquo;</span><span class=\"sr-only\">Previous</span></a></li>";		       
		      }
		      for(var i = first; i<=last; i++){ 
		        if(currentPage == i){
              pageHtml += "<li class='on'><a class=\"page-link\" href='#' id='"+i+"'>" + i + "</a></li>";

		        } else{
              pageHtml += "<li><a class=\"page-link\" href='#' id='"+i+"'>" + i + "</a></li>";

		        }
		      }
		      if(last<totalPageNum){
            pageHtml += "<li><a class=\"page-link\" href='#' id='next' aria-label=\"Next\"><span aria-hidden=\"true\">&raquo;</span><span class=\"sr-only\">Next</span></a></li>";
		      }
		      pageHtml += "</ul></nav>";
		      $("#pagingul").html(pageHtml);
		      
		      let displayCount = "";
		      let currentShowingPageFrom = (currentPage*dataPerPage)-dataPerPage+1;
		      let currentShowingPageTo = currentPage*dataPerPage;
          if(currentShowingPageTo > totalNum) currentShowingPageTo = totalNum;

		      displayCount = "Showing "+currentShowingPageFrom+" to "+currentShowingPageTo+" of "+totalNum+" entries";
		      $("#displayCount").text(displayCount);
		      
		      $("#pagingul li a").click(function (){
		        let $id = $(this).attr("id");
		        selectedPage = $(this).text();
		        
		        if($id == "next") selectedPage = next;
		        if($id == "prev") selectedPage = prev;
		        
		        globalCurrentPage = selectedPage;
		        
		        paging(totalNum, dataPerPage, pageCount, selectedPage);
		        displayData(selectedPage, dataPerPage);
		      });
		    }

       

		    function displayData(currentPage, dataPerPage){
		      let chartHtml = "";
		      currentPage = Number(currentPage);
		      dataPerPage = Number(dataPerPage);
		      
		      chartHtml = "<table class=\"table table-hover table-bordered\" sellspacing=\"0\" width=\"90%\" id=\"example\">";
		      
          chartHtml += "<thead><tr>";
		      for(var i=0;i<colNum;i++){
		        chartHtml += "<th style=\"text-align: center;\">" + colData[i] + "</th>";
		      }
		      
		      chartHtml += "</tr></thead>";

          let tableFrom = (currentPage-1)*dataPerPage;
          let tableTo = (currentPage-1)*dataPerPage+dataPerPage;
          if(tableTo > totalNum) tableTo = totalNum;

          
		      chartHtml += "<tbody>";
          for(var i = tableFrom; i<tableTo;i++){
            let txtTMP = "";

            for(var j=0;j<colNum;j++){
              txtTMP += tblData[i][j];
            }
            if(selectedArr.indexOf(txtTMP) != -1){
              console.log("*****selectedArr:*****");
              chartHtml += "<tr onclick=\"selectRows(this);\" style=\"background-color: #e0e0e0;\">";
            }else{
              chartHtml += "<tr onclick=\"selectRows(this);\">";
            }

		        //chartHtml += "<tr onclick=\"selectRows(this);\">";

		        for(var j=0;j<colNum;j++){
		          chartHtml += "<td style=\"text-align: center;\">" + tblData[i][j] + "</td>";
		        }
		        chartHtml += "</tr>";
		      }
		      chartHtml += "</tbody></table>";
		      
		      $("#display").empty();
		      $("#display").append(chartHtml);
          
		  }


		  })

		  let sltROWS = 0;
      var selectedArr = new Array();
      let sltROWScnt = "Total Selected Rows: ";

      var str="";
      var tdArr = new Array();
      var td;
      var cnt;
      var len;

      var count=1;

      function selectRows(elem){        
          bgcolor = $(elem).css("background-color");

          var text = $(elem).text();          
          var tr = $(elem);
          td = tr.children();

          cnt = selectedArr.indexOf(text);
          len = selectedArr.length;

          if(bgcolor == "rgb(224, 224, 224)"){
            count--;

            $(elem).css("background-color", "#FFFFFF");    
              sltROWS -= 1;
              selectedArr.splice(cnt,1);

              $("#sltROWScount").empty();
		          $("#sltROWScount").append(sltROWScnt);
              $("#sltROWScount").append(sltROWS);
              $('#container').empty();
              $('#container').append(
                "<button onclick=\"exp()\" type=\"button\" class=\"btn btn-outline-primary\" id=\"explanation\">explanation</button>"
              ); 

              td.each(function(i){
                var index = tdArr.indexOf(td.eq(i).text());
                if(index>-1){
                  tdArr.splice(index, 1);
                }
              })
          }

          else {
            if(cnt==-1 && len<2){
              count++;

              $(elem).css("background-color", "#e0e0e0");            
              sltROWS += 1;
              selectedArr.push(text);

              $("#sltROWScount").empty();
		          $("#sltROWScount").append(sltROWScnt);
              $("#sltROWScount").append(sltROWS);

              $('#container').empty();
              $('#container').append(
                "<button onclick=\"exp()\" type=\"button\" class=\"btn btn-outline-primary\" id=\"explanation\">explanation</button>"
              );    

              td.each(function(i){
                tdArr.push(td.eq(i).text());
              })      
            } 
          }
      }

      var graphData;
      function exp(){
        
        var expTEXT = "";
        for(var i=0;i<tdArr.length;i++){
          expTEXT += tdArr[i];
          expTEXT += " ";
        }

		    var postdata_exp = { 'tdArr': tdArr, 'colNum': colNum, 'colData': colData}

        $.ajax({
          type: 'EXP',
          url: '{{url_for("explanation")}}',
          data: JSON.stringify(postdata_exp),
          dataType: 'JSON',
          contentType: "application/json",
          success: function(data){
            if (data.result2){
              exp_len = data.result2.length;
              exp_data = data.result2;
              graphData = data.result3;
              fscoreData = data.result4;
              summaryData = data.result5; ////
              highlightTextList = data.result6;
              // recallData = data.result4;
              // precisionData = data.result5;

              //exp_table(exp_data,exp_len,graphData);
              exp_summary(summaryData, exp_data, exp_len, graphData); //exp_summary(summaryData, exp_data, exp_len, fscoreData); 
            } 
            else {
              alert("No data");
            }
          },
		      error: function(request, status, error){ 
		        alert('ajax failed')
		        alert(error);
		      }
        })
        function getJGid(tmp_id){
          tmp = tmp_id.split(' ')
          jgID = tmp[0]
          return jgID
        }
        function exp_summary(summaryData, exp_data, exp_len, graphData){ //(exp_len, recallData, precisionData)
          let sumHtml = "";
          var numOfExp = "The number of explanations: "+exp_len;
          sumHtml = "<table class=\"table table-bordered\" sellspacing=\"0\" width=\"90%\" id=\"exp\"><tbody>";
          sumHtml += "<tr><td style=\"text-align: left;\">Summary</td></tr>";
          sumHtml += "<tr><td style=\"text-align: left;\">1."+ numOfExp +"</td></tr>";
          sumHtml += "</tbody></table>";
          $("#explanation_summary").empty();
          $("#explanation_summary").append(sumHtml);

          //////////////////fscor-d3 scatter plot//////////////////
          var margin = {top: 50, right: 50, bottom: 50, left: 50}, fs_width = 800, fs_height = 600;
          //var dataset = fscoreData.map((d) => {return {"y": d };});
          var fscoreData = [];
          for(var i=0;i<summaryData.length;i++){
            fscoreData.push(summaryData[i][1]);
          }

          var dataset = [];
          fscoreData.forEach(function(key,i){
            var obj = new Object();
            obj['x'] = summaryData[i][2]; obj['y'] = fscoreData[i]; obj['id'] = getJGid(summaryData[i][0]);
            //obj['x'] = exp_data[i]; obj['y'] = fscoreData[i]; //obj['id'] = jg_id[i];
            dataset.push(obj);
          });

          var n = fscoreData.length;

          var xScale = d3.scaleLinear().domain([0, n-1]).range([0, fs_width]);
          var yScale = d3.scaleLinear().domain([0, 1]).range([fs_height, 0]);

          var svg = d3.select("#explanation_summary")
                      .append("svg")
                      .attr("width", fs_width + margin.left + margin.right)
                      .attr("height", fs_height + margin.top + margin.bottom)
                      .append("g")
                      .attr("transform","translate(" + margin.left + "," + margin.top + ")");
          svg.append("g")
              .attr("class", "x axis")
              .attr("transform", "translate(0," + fs_height + ")")
              .call(d3.axisBottom(xScale));
          svg.append("g").attr("class", "y axis").call(d3.axisLeft(yScale));
          svg.append("text").attr("x", (fs_width/2)).attr("y", 0-(margin.top/2)).attr("text-anchor", "middle")
             .style("font-size", "15px").text("F Score");
          var tooltip = d3.select("#explanation_summary")
                        .append("div")
                        .attr("class", "tooltip")
                        .style("background-color", "#a7a7a7")
                        .style("color", "white")
                        .style("border-width", "1px")
                        .style("border-radius", "5px")
                        .style("padding", "10px")
                        .style("position", "absolute")
                        .style("visibility", "hidden");
          var mouseover = function(d) {tooltip.style("opacity", 1).style("visibility", "visible").text(d.x) };
          var mousemove = function(d) {tooltip.style("top", (d3.event.pageY - 10) + "px").style("left", (d3.event.pageX + 10) + "px")};
          var mouseout = function(d) { tooltip.style("opacity", 0).style("visibility", "hidden") };
          var dots =svg.append('g')
            .selectAll("dot")
            .data(dataset)
            .enter()
            .append("circle")
            .attr("cx", function(d, i) { return xScale(i) })
            .attr("cy", function(d) { return yScale(d.y) })
            .attr("r", 10)
            .style("fill", "#ffab00")
            .style("opacity", 0.5)
            .style("stroke", "white")
            .on("mouseover", mouseover )
            .on("mousemove", mousemove )
            .on("mouseout", mouseout );
        // }

        // function exp_table(exp_data,exp_len,graphData){          
          let expHtml = "";

          expHtml = "<table class=\"table table-bordered\" sellspacing=\"0\" width=\"90%\" id=\"exp\">";
          expHtml += "<tbody>";
         
          for(var i=0;i<exp_len;i++){
            expHtml += "<tr><td style=\"text-align: center;\">"+ exp_data[i] +"</td></tr>";
          }
          expHtml += "</tbody></table>";

          $("#explanation_table").empty();
		      $("#explanation_table").append(expHtml);
          /////
          ///var keywordList = ['PT_1'];
          for(var i=0;i<highlightTextList.length;i++){
            var keyword = highlightTextList[i];
            $('#explanation_table').mark(keyword, {
                "element": "span",
                "className": "table_highlight"
            });
          }

          /////////////////////////////////////////////////////////////
          var Data = graphData;
          var width = 400, height = 300;

          (function( $ ) {
            $.fn.generateMultiForce = function(svgObj) {
                return this.each(function() {
                    var graph = this;
                    var graphArea = svgObj.append("g");

                    var svg = d3.select("#explanation_graph")       
                        .append("svg")
                        .attr("width", width)
                        .attr("height", height)//;
                        .data(graph.nodes) //
                        .style("background-color", "white")
                        .on("mouseenter", mouseenter)
                        .on("mouseleave", mouseleave)
                        .on('click', click);

                    var simulation = d3
                        .forceSimulation(graph.nodes)
                        .force("charge", d3.forceManyBody().strength(-1500))
                        .force("center", d3.forceCenter(width / 2, height / 2))
                        .force("link", d3.forceLink(graph.links).id(d => d.name));

                    var link =  svg
                        .append("g")
                        .selectAll("line")
                        .data(graph.links)
                        .enter()
                        .append("line")
                        .attr("stroke-width", 5)
                        .attr("stroke", "#999")
                        .on("mouseover", mouseover) ////
                        .on("mouseout", mouseout) ////
                        .on("mousemove", mousemove); ////

                    var drag = d3
                        .drag()
                        .on("start", dragstarted)
                        .on("drag", dragged)
                        .on("end", dragended);
                    var nodes_with_text = svg
                        .append("g")
                        .selectAll("g")
                        .data(graph.nodes)
                        .enter()
                        .append("g")
                        .call(drag);
                        
                    var circles = nodes_with_text.append("circle").attr("r", 25).attr("fill", "#6fbc5b");
                    var texts = nodes_with_text.append("text").text(function(d){ return d.name})
                                                .style("text-anchor", "middle").attr("class", "node-label");
                    var tooltip = d3.select("#explanation_graph")
                                    .append("div")
                                    .style("position", "absolute")
                                    .style("visibility", "hidden")
                                    .style("background-color", "#a7a7a7")
                                    .style("color", "white")
                                    .style("border-width", "1px")
                                    .style("border-radius", "5px")
                                    .style("padding", "10px");

                    simulation.on("tick", function() {
                        link
                            .attr("x1", function(d) { return d.source.x; })
                            .attr("y1", function(d) { return d.source.y; })
                            .attr("x2", function(d) { return d.target.x; })
                            .attr("y2", function(d) { return d.target.y; });

                        nodes_with_text.attr("transform", function(d) {
                            return "translate("+d.x+","+d.y+")";
                        });
                    });
                    function dragstarted(d) {
                        simulation.alphaTarget(0.3).restart();
                        d.fx = d3.event.x;
                        d.fy = d3.event.y;
                    }
                    function dragged(d) {
                        d.fx = d3.event.x;
                        d.fy = d3.event.y;
                    }
                    function dragended(d) {
                        simulation.alphaTarget(0);
                        d.fx = null;
                        d.fy = null;
                    }
                    function mouseover(d) { tooltip.style("visibility", "visible").text(d.cond); }
                    function mouseout() { tooltip.style("visibility", "hidden"); }
                    function mousemove(){ tooltip.style("top", (d3.event.pageY - 10) + "px").style("left", (d3.event.pageX + 10) + "px"); }
                    ///click function
                    function click(d){
                      console.log("clicked!", d.id);
                        id = d.id;
                        let fscoreY ="";
                        dots.style("fill", function(d,i){
                            if(d.id == id){ fscoreY += " | "+d.y; return "blue";} 
                            else{ return "#ffab00";}}).style("visibility", "visible");
                      //tooltip.style("visibility", "visible").text("clicked: ", d.id);
                      let sumHtml = "";
                      sumHtml = "<table class=\"table table-bordered\" sellspacing=\"0\" width=\"90%\" id=\"exp\"><tbody>";
                      sumHtml += "<tr><td style=\"text-align: left;\">Selected Join Graph</td></tr>";
                      sumHtml += "<tr><td style=\"text-align: left;\">1. Corresponding Fscore:"+fscoreY+"</td></tr>";
                      sumHtml += "</tbody></table>";
                      $("#selectedJGexpl").empty();
                      $("#selectedJGexpl").append(sumHtml);
                      selectedJG(id);
                    }
                    function mouseenter(){ svg.style("background-color", "#ffd889"); }
                    function mouseleave(){ svg.style("background-color", "white"); }
                });
            };
          })(jQuery);

          var svgTest = d3.select("#explanation_graph");
          $(Data).generateMultiForce(svgTest);
          ////
          function selectedJG(id){
            console.log("selectedJGexpl id: ",id);
            //
            for(var i=0;i<Data.length;i++){
              if(Data[i]["nodes"][0]["id"] == id){
                    selectedDataIndex = i;

                    var svg = d3.select("#selectedJGexpl").append("svg").attr("width", width).attr("height", height)
                                .data(Data[selectedDataIndex]["nodes"]).style("background-color", "#b3ccff");
                    var simulation = d3.forceSimulation(Data[selectedDataIndex]["nodes"])
                                      .force("charge", d3.forceManyBody().strength(-1500))
                                      .force("center", d3.forceCenter(width / 2, height / 2))
                                      .force("link", d3.forceLink(Data[selectedDataIndex]["links"]).id(d => d.name));
                    var link =  svg.append("g").selectAll("line").data(Data[selectedDataIndex]["links"]).enter()
                                  .append("line").attr("stroke-width", 5).attr("stroke", "#999")
                                  .on("mouseover", mouseover).on("mouseout", mouseout).on("mousemove", mousemove);
                    var drag = d3.drag().on("start", dragstarted).on("drag", dragged).on("end", dragended);
                    var nodes_with_text = svg.append("g").selectAll("g").data(Data[selectedDataIndex]["nodes"])
                                              .enter().append("g").call(drag);
                    var circles = nodes_with_text.append("circle").attr("r", 25).attr("fill", "#6fbc5b");
                    var texts = nodes_with_text.append("text").text(function(d){ return d.name})
                                                .style("text-anchor", "middle").attr("class", "node-label");
                    var tooltipp = d3.select("#selectedJGexpl").append("div").style("position", "absolute")
                                      .style("visibility", "hidden").style("background-color", "#a7a7a7")
                                      .style("color", "white").style("border-width", "1px")
                                      .style("border-radius", "5px").style("padding", "10px");
                    simulation.on("tick", function() {
                        link.attr("x1", function(d) { return d.source.x; }).attr("y1", function(d) { return d.source.y; })
                            .attr("x2", function(d) { return d.target.x; }).attr("y2", function(d) { return d.target.y; });

                        nodes_with_text.attr("transform", function(d) { return "translate("+d.x+","+d.y+")"; });
                    });
                    function dragstarted(d) { simulation.alphaTarget(0.3).restart(); d.fx = d3.event.x; d.fy = d3.event.y; }
                    function dragged(d) { d.fx = d3.event.x; d.fy = d3.event.y; }
                    function dragended(d) { simulation.alphaTarget(0); d.fx = null; d.fy = null; }
                    function mouseover(d) { tooltipp.style("visibility", "visible").text(d.cond); }
                    function mouseout() { tooltipp.style("visibility", "hidden"); }
                    function mousemove(){ tooltipp.style("top", (d3.event.pageY - 10) + "px").style("left", (d3.event.pageX + 10) + "px"); }
              }
            }  
                    
          }
        }
      }     
		</script>
    

    <script>
      
    </script>
		<br>
		
		<div class="row2">
      <br>
		  <div style="display: inline;">
        <div style="float: left; width: 33%; padding: 10px;">
		      <p>Show
		      <select id="dataPerPage" class="form-select" style="width: 70px; display: inline;" onchange="changeRowsSelect()">
		        <option value="10">10</option>
		        <option value="15">15</option>
		        <option value="20">20</option>
		      </select>
		      Rows</p>
		    </div>

        <div style="float: left; padding: 10px; width: 41%; text-align: right;" class="col-md-5">
          <p id="sltROWScount"></p>
        </div>

        <div style="float: right; width: 25%; text-align: right;" id="container"></div>
        
      </div>
		</div>

		<div id="display" style="overflow: auto;"></div><br>    

		<div id="pageInfo" style="display: inline;" class="col-md-12">
		  <div style="float: left;">
		    <p id="displayCount"></p>
		  </div>
		  <div style="float: right;">
		    <ul id="pagingul" class="col-md-6"></ul>
		  </div>

		</div><br>
    <div id="explanation_table" style="overflow: auto; height: 200px; margin-bottom: 20px;"></div><br><br><br>
    <div id="explanation_summary" style="overflow-x: auto; height: 820px; white-space:nowrap; margin-bottom: 20px;text-align:center;"></div>
    <div id="explanation_graph" style="overflow-x: auto; height: 320px; white-space:nowrap; margin-bottom: 20px;"></div>


    </div>

    </div>
    <div class="col-md-3"> 
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div id="schemagraph"></div>
      </div>
        <div id="selectedJGexpl" style="margin-top: 50px;"></div> <!----->
        <script>
          var svg = d3.select("#schemagraph")            
            .append("svg")
            .attr("width", 400)
            .attr("height", 300);

          svg.append("defs").append("marker")
              .attr("id", "arrow")
              .attr("viewBox", "5 -5 10 10")
              .attr("refX", 20)
              .attr("refY", 0)
              .attr("markerWidth", 8)
              .attr("markerHeight", 8)
              .attr("orient", "auto")
            .append("svg:path")
              .attr("d", "M0,-5L10,0L0,5");

          var width = svg.attr("width");
          var height = svg.attr("height");

          var graph = {{schema_graph_data|safe}};

          var simulation = d3
              .forceSimulation(graph.nodes)
              .force("link",d3.forceLink(graph.links).id(function(d) {return d.id;}).distance(120).links(graph.links))
              .force("charge", d3.forceManyBody().strength(-200))
              .force("center", d3.forceCenter(width / 2, height / 2))
              .on("tick", ticked);

            var link = svg.selectAll(".link")
                .data(graph.links)
                .enter()
                .append("g")
                .attr("class", "link")
                .append("line")
                .style("stroke", "blue")
                .attr("class", "link-line")
                .attr("marker-end", "url(#arrow)")
                .attr("stroke-width", function(d) {
                  return 3;
                });

            // var linkText = svg.selectAll(".link")
            //     .append("text")
            //     .attr("class", "link-label")
            //     .attr("font-family", "Arial, Helvetica, sans-serif")
            //     .attr("fill", "Black")
            //     .style("font", "normal 12px Arial")
            //     .attr("dy", ".35em")
            //     .attr("text-anchor", "middle")
            //     .text(function(d) {
            //         return d.type;
            //     });

            var drag = d3
              .drag()
              .on("start", dragstarted)
              .on("drag", dragged)
              .on("end", dragended);


            var nodes_with_text = svg
              .append("g")
              .selectAll("g")
              .data(graph.nodes)
              .enter()
              .append("g")
              .call(drag);

            var circles = nodes_with_text
              .append("circle")
              .attr("r", 15)
              .attr("fill", "red");

            var texts = nodes_with_text
              .append("text").text(function(d){
                return d.name
                }
              );

            function ticked() {

              nodes_with_text.attr("transform", function(d){
                return "translate(" + d.x + ", " + d.y + ")";
              });

              link
                .attr("x1", function(d) {
                  return d.source.x;
                })
                .attr("y1", function(d) {
                  return d.source.y;
                })
                .attr("x2", function(d) {
                  return d.target.x;
                })
                .attr("y2", function(d) {
                  return d.target.y;
                });

              // linkText
              //     .attr("x", function(d) {
              //         return ((d.source.x + d.target.x)/2);
              //     })
              //     .attr("y", function(d) {
              //         return ((d.source.y + d.target.y)/2);
              //     });
            };

            function dragstarted(d) {
              if (!d3.event.active) simulation.alphaTarget(0.3).restart();
              d.fx = d.x;
              d.fy = d.y;
            };

            function dragged(d) {
              d.fx = d3.event.x;
              d.fy = d3.event.y;
            };

            function dragended(d) {
              if (!d3.event.active) simulation.alphaTarget(0);
              d.fx = null;
              d.fy = null;
            };
          </script>

        </script>

        <style>
          .table_highlight{
              background-color: #f9ed69;
          }
        </style>
      <!--</div> -->
    </div>
</div>    
</body>
</html>
