body {
  height: 100%;
  margin: 0;
}

.my-container {
	border: 5px solid black;
}


#db-credentials label,input,button {
	width: 80%;
	margin: 1px;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

svg {
    background-color: white;
    border: 3px solid #999;
}
.input-group1{
  display: inline;
}
.input-group2{
  display: inline;
}

.input-group-run {
	width: 22%;
}

.form-control{
  font-size: 15px;
}

body::-webkit-scrollbar{
  width: 10px;
  background-color: #c1c1c1;
}
body::-webkit-scrollbar-thumb{
  background-color: #444444;
}
#explanation_summary{
  text-align : left;
  font-size: 14px;
  font-weight: bold;
  color: #111;
}
#explanation_graph .node-label{
  font-size: 22px;
  font-weight: bold;
  color: #111;
  stroke: white;
  stroke-width: 1px;
  text-anchor: middle;
}

.hover1:hover{
  background-color: #dedede;
}

/* */
.line {
  fill: none;
  stroke: #ffab00;
  stroke-width: 3;
}
.overlay {
fill: none;
pointer-events: all;
}
.dot {
  fill: #ffab00;
  stroke: #fff;
}
.focus circle {
fill: none;
stroke: steelblue;
}